* {

  margin:0;
  padding:0;
  text-decoration: none;
  }
  html {
    scroll-behavior: smooth;
  }
.cursor {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid white;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.cursor2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #00f7ff;
  opacity: .5;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: width .2s, height .2s, opacity .3s;
  transition: width .2s, height .2s, opacity .3s;
}

.cursorinnerhover {
  width: 65px;
  height: 65px;
  opacity: 1;
  background-color: #00f7ff;
}

.hover {
  opacity: .9;
  color: black;
  width: 70px;
  height: 70px;
  font-weight: bold;
  border-radius: 100%;
  background-color: #00f7ff33;
  border: 3px solid  #00f7ff;
}

.hoverWater {
  opacity: .9;
  color: black;
  width: 100px;
  height: 100px;
  font-weight: bold;
  border-radius: 100%;
  background-color: #00f7ff33;
  border: 3px solid  #00f7ff;
}

body {
  margin: 1.5em;
  background:#141414 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAAAUFhQcGhwUEhTQCq58AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAbtJREFUKJEVkUFrGzEQhedPvllmF9mnkVmHzU1rbEj7K0ZmHbY9bcq25Lgp9H/IxQcfHWigxxwLnegiJD3x3vuGlDsY9kDAkbgfhovK8amOSqqNcRVQgBthO9i1RYT0NRlyYNW0Gs//KDLKQ2MAbKYHgyVYJcogsNicLWcFSF/MxJ0EiNQCR4itS0lKeQK+BZHzQfZk6Xm7vuc4DwW0fpqQLNVXaCF7Kxu3R7sdQKuvvwoyeFKbiI+RbZ9VfJFWxuiRELpILtHh8WQLe4Ir32ldqaw9Kp2kyerGPE9MPEx/gVY4ZqZLN3rGGnYITK5QqbvOL5gs8uBPBq62FGABkB9yv32l0Zu6EB+LWuZm6blCcAb9e13vvGqLosS6kZx5QXsp9JrAGjahuk5nmhLWUwcNS5vJSwZpGt+kI3xCWTAf7Ln8pGMELg0vM4vPp4ZcsXba8Gy5bRNWYIdNb1zjnNQ6DsVNHYacVu9VNKp9mpZCZT4l91H2Tvw4HkDjkDiixQkYqPdPKt+FC1cu291u4y2eLRt9AUPzpfSX6TOh/N44WZHwgRdsIrrbVuaHWSrJLwv+sFJxmsosLfb8H1y2CkAvQTlNAAAAAElFTkSuQmCC);  overflow-x: hidden;
  text-decoration: none;
}



.logo {
  color: white;
  font-weight: bolder;
  font-size: 2.2rem;
}

.logo span {
  color: #00f7ff;
}


  

.container-nav{
	max-width: 120rem;
	width: 90%;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
  top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;
}

.brand{
	
  
	font-weight: 500;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: #00f7ff;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}
nav ul li:nth-child(5){
	animation-delay: 2s;
}

nav ul li a{
	padding: .5rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
  color: white;
  font-size: 1rem;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}
body{
  font-family: 'Montserrat', sans-serif;

}
nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 3rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 1.5rem;
	}

	.brand a {
		font-size: 3rem;
    color: white;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}


h1 {
  font-size: 2.1rem;
  margin-top: .2em;
  line-height: 1em;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
}

h2 {
  color: #00f7ff;
  font-size: 1.2em;
  margin-top: 4em;
}

.subhead {
  font-size: 1.4rem;
  margin-top: -.5em;
  width: 75%;
}

section.hero {
  color: white;
  height: 90vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}
.down-arrow {
  stroke: #00f7ff;
  position: absolute;
  bottom: 8em;
  width: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}


.title {
  font-weight: bold;
  font-size: 1.25rem;
}

.desc {
  line-height: 1.5rem;
}



@media only screen and (min-width: 680px) {
  
  .hero h1 {
    font-size: 4.3rem;
    margin-top: .3em;
    line-height: 1em;
    margin-bottom: .7em;
    font-weight: 300px;
  }
  h2 {
    color: #00cfd6;
    font-size: 1.2em;
    margin-top: 4em;
    z-index: 1;
  }
 
}

@media only screen and (min-width: 920px) {
  
 
  section.hero {
    color: white;
    height: auto;
    width: 80%;
    margin-bottom: 6em;
  }
  .subhead {
    margin-bottom: 3em;
  }
  svg.down-arrow {
    stroke: #00f7ff;
    position: unset;
  }
  path {
    fill: #00f7ff;
  }
  .about-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  .about-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .feature {
    gap: 0;
  }
  .rotingtxt {
    position: absolute;
    top: -1.5em;
    font-size: 3.5em;
    color: rgba(63, 63, 63, 0.17);
    position: absolute;
    text-transform: uppercase;
  }
  .rotingtxt:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    color: rgba(255, 255, 255, 0.521);
    -webkit-transition: ease-in 1s;
    transition: ease-in 1s;
  }
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.about-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 500px;
}

.left-col {
  height: 500px;
}

.right-col {
  height: 500px;
}

section.skills-section {
  min-height: 150px;
  background-color: #00f7ff;
  margin-top: 4em;
}

section.contact-section {
  min-height: 400px;
  margin-top: 4em;
}

.about-img {
  width: 97%;
  height: 400px;
  background-color: antiquewhite;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1565120130276-dfbd9a7a3ad7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  border-radius: .4em;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}


.second-img {
  background-image: url("https://images.unsplash.com/photo-1481201779555-88fcea2968ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
}
.third-img {
  background-image: url("/portfolio/g8.png");
  background-size: contain;
  background-size: no-repear;
  background-color: transparent;
}

.para {
  margin-top: -2em;
  font-size: 1rem;
  width: 100%;
  color: rgb(236, 236, 236);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
}

.para1 {
  width: 100%;
  color: rgb(218, 218, 218);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.para-1 {
  width: 50%;
  color: rgb(218, 218, 218);
  margin-bottom: 2rem;
}

.contact-head {
  color: white;
  width: 100%;
  font-size: 2.9em;
}

.the-arrow {
  width: 64px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.the-arrow.-left {
  position: absolute;
  top: 50%;
  left: 8%;
}

.the-arrow.-left > .shaft {
  width: 0;
  background-color: #999;
}

.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #999;
}

.the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.the-arrow.-right {
  top: 2px;
}

.the-arrow.-right > .shaft {
  width: 50px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.the-arrow > .shaft {
  background-color: #00cfd6;
  display: block;
  height: 1.5px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  will-change: transform;
}

.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #00cfd6;
  content: '';
  display: block;
  height: 1.5px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.the-arrow > .shaft:before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.the-arrow > .shaft:after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  margin-top: .4em;
  color: #00cfd6;
  font-size: 1.15em;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.animated-arrow:hover {
  color: white;
  font-weight: bolder;
}

.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 0;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: #eaeaea;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 10px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: #eaeaea;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.animated-arrow:hover > .main {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.animated-arrow > .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}

.animated-arrow > .main > .the-arrow {
  position: relative;
}

.btn {
  display: inline-block;
  padding: 8px 24px;
  margin-top: 1.1em;
  border: solid 1px transparent;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.btn-primary {
  border-color: #17a2bb;
  color: #17a2bb;
}

.btn-primary:hover {
  background: #17a2bb;
  color: #fff;
}

@media only screen and (min-width: 680px) {
  .about-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .para {
    margin-top: 3.7em;
    margin-left: 3.2em;
    width: 90%;
    color: rgb(230, 230, 230);
  }
  .para1 {
    margin-bottom: 2rem;
    width: 90%;
    color: rgb(230, 230, 230);
  }
 
  .contact-head {
    color: white;
    width: 75%;
    font-size: 3.9em;
    margin-bottom: 2rem;
  }
}
#about-sec{
  flex-direction: row-reverse;
}
.about-heading{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 900 ;

}
@media only screen and (max-width: 920px) {
  #about-sec{
    flex-direction: column;
    margin-top: -5rem;
  }
  .about-row {
    flex-direction: column;
  }
 
  .para-1{
    width: 100%;
   }
   .contact-head{
     width: 100%;
   }
   .about-img{
     width: 100%;
   }
   .about-heading{
    font-size: 2.2rem;
    font-family: 'Inter', sans-serif;
  }
}



.active {
  
  font-weight: bold;
  color: #00cfd6;
}
.active a {
  color: #00f7ff;
  font-size: 1.1rem;
}
