

.cursor {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid white;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 200ms ease-out;
}

.cursor2 {
  width: 10px;
  height:10px;
  border-radius: 100%;
  background-color: #00f7ff;
  opacity: .5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .2s, height .2s, opacity .3s;
}

.cursorinnerhover {
  width: 65px;
  height: 65px;
  opacity: 1;
  background-color: #00f7ff;
}
.hover {
  
  opacity: .9;
  color: black;
    width: 70px;
  height: 70px;
  font-weight: bold;
  border-radius: 100%;
  background-color: #00f7ff33;
  border: 3px solid  #00f7ff;
}
.hoverWater {
  
  opacity: .9;
  color: black;
    width: 100px;
  height: 100px;
  font-weight: bold;
  border-radius: 100%;
  background-color: #00f7ff33;
  border: 3px solid  #00f7ff;
}



body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(26, 26, 26);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url('https://images.unsplash.com/photo-1529944376877-87aa47d67119?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80');
  filter: brightness(50%);
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: introLoad 2s forwards;
  //overflow: hidden;
}

.logo {
  color: white;
  font-weight: bolder;
  font-size: 3.5em;
}

.logo span {
  color: #00f7ff;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;    
}
ul a {
color: black;
padding: .75em 2em;
display: block;
}
.close {
  float: right;
  margin: 2em;
  width: 2.5em;
}
header {
  display: flex;
  justify-content: space-between;
}

svg {
  width: 2.3em;
  margin-top: -.6em;
  cursor: pointer;
}
h1 {
  font-size: 2.1rem;
  margin-top: .2em;
  color: #fff;
  line-height: 1em;
  font-weight: 300px;
}
h2 {
  color: #00f7ff;
  font-size: 1.2em;
  margin-top: 4em;
  
}

.subhead {
  font-size: 1.4rem;
  margin-top: -.5em;
  width: 75%;
}

section.hero {
  color: white;
  height: 90vh;
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}
.down-arrow {
  stroke: #00f7ff;
  position: absolute;
  bottom: 8em;
  width: 1em;
  animation: moveArrow 1s alternate-reverse infinite;

}
path {
  fill:#00f7ff;
}
img {
  width: 100%;
  object-fit: cover;
  height: 11em;
}
.title {
  font-weight: bold;
  font-size: 1.25rem;
}
.desc {
  line-height: 1.5rem;
}
.open-nav {
  transform: translateX(0%);
}

@media only screen and (min-width: 680px) {

  body {
      margin: 1.5em 5em;
      font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 4.3rem;
    margin-top: .3em;
  
    line-height: 1em;
    font-weight: 300px;
  }
  h2 {
    color: #00cfd6;
    font-size: 1.2em;
    margin-top: 4em;
    z-index: 1;
    
  }
  .subhead {
    font-size: 1.1rem;
    margin-top: -1.7em;
  }
  .project-info{
    width: 50%;
    height: 2000px;
    display: block;
  
  }
  .project-info p {
    width: 80%;
  }
  .project-info1{
    width: 50%;
    float: right;
  }
  .project-info ul {
    display: flex;
    flex-direction: column;
  }
  section.portfolio {
    height: 500px;
    margin-bottom: 13em;
  }

  .about-img {
    height: 500px;
  }
  .blue-column{
    height: 600px;
  }

  
  
}

@media only screen and (min-width: 920px) {

  .menu {
      display: none;
  }

  nav {
      transform: translateX(0);
      position: unset;
      display: block;
      width: auto;
      height: auto;
      background: none;

    
  }
  svg.close {
    display: none;
}


ul {
    display: flex;
    margin: 0;
}

nav ul a {
  color: white;
  padding: 1.8em 1.5em;
  font-size: .9rem;

}
nav ul a:hover {
  color: white;
  font-weight: bolder;
}
  .hero-img {
      left: unset;
      right: 0;
      width: 50%;
      height: 42em;
  }

  

  section.hero {
      color: white;
      height: auto;
      width: 80%;
      margin-bottom: 8em;
  }
  .subhead {
    margin-bottom: 3em;
}

svg.down-arrow {
    stroke: #00f7ff;
    position: unset;

  
}
path {
  fill: #00f7ff;
}
.about-column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  background-color: antiquewhite;
}
.about-row:after{
  content:  " ";
  display: table;
  clear: both;
}
.timeline{
  
  margin-top: 1.8rem;
 }
 .intro-heading {
  font-size: 3rem;
  width: 70%;
  line-height: 1.2em;
}
.intro-para{
  width: 85%;

}

.contact-heading {
  color: #00f7ff;
  text-transform: uppercase;
  font-size: 5.5em;
  width: 75%;
  margin-top: 1.3em;
}
.porfolio-img{
  height: 100%;
  width: 82%;
  border-radius: .1em;
  display: block;
  margin-left: auto;
 //// margin-right: auto;
  float: right;
  z-index: 1;
  margin-top: -2.3rem;
}
.project-heading{
  color: white;
 font-size: 3.5rem;
 margin-bottom:0;
 
}
.project-info {
  height: 300px;
  padding-top: 2rem;
 
}
.project-info1 {
  height: 400px;
  justify-items: center;
  

}
}


@media only screen and (min-width: 1200px) {
  .wrapper {
      width: 1200px;
      margin: 0 auto;
  }

  .feature {
      gap: 0;
  }
  .rotingtxt{
    position: absolute;
    top: -1.5em;
    font-size: 3.5em;
    color: rgba(63, 63, 63, 0.17);
    position: absolute;
    font-family: 'Druk Wide Bold', sans-serif;
    text-transform:uppercase;
  
  }
  .rotingtxt:hover {
   
    transform: scale(1.05);
    color: rgba(255, 255, 255, 0.521);
    transition: ease-in 1s ;
    
  }

 
}

@keyframes introLoad {
  from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveArrow {
  from {
      transform: translateY(-30px)
  }
  to {
      transform: translateY(0)
  }
}
@keyframes moveDown {
  from {
      transform: translateY(-100px)
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.outer-container {

 width: 100%;
 height: auto;
 display: flex;
 right: 15em;
 align-items: center;
}

#text {
  position: absolute;
  white-space: nowrap;
  right: -4150px;
  font-size: 3.5em;
  font-family: 'Druk Wide Bold';
  font-weight: bolder;
}
#text span {
  color: aliceblue;
}


//ABOUT
 section.about  {
   
   width: 100%;
   min-height: 200px;
 }
 .some-page-wrapper {
 margin-top: 5em;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
  width: 100%;
}



.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  
  flex: 1;
}

.blue-column {
  height: auto;
}

.green-column {
  
  height: 500px;
}


.about-img{
  height: 350px;
  margin-top: 2px;
  border-radius: 5%;
  box-shadow: none;
}
.about-name {
 
 
  text-transform: uppercase;
  font-family: 'Druk Wide Bold';
  font-size: 1.7rem;
  color: white;
  
}
.about-info{
  margin-top: 6.5em;
  
  
}
.about-info p {
  color: white;
  font-weight: lighter;
}
@media only screen and (min-width: 920px) {
  .row {
    flex-direction: row;
  }
  #flex-container{
    flex-direction: row-reverse;
  }
  .about-heading , .portfolio-heading {
    font-size: 5.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: -.2em;
    //margin-top: 1em;
    color: #00cfd6;
    width: 70%;
  }
  .about-img{
    height: 550px;
    margin-top: 2px;
    border-radius: 1%;
  }
  .about-name {
    width: 100%;
    
    letter-spacing: 1px;
    
    font-family: 'Druk Wide Bold';
    font-size: 2.5rem;
    color: white;
  }
  .about-info{
    margin-top: 0;
    width: 85%;
  }
  .static{
    font-size: 5.2rem;
    font-weight: 900;
    text-transform: uppercase;
     color: #00cfd6;
    line-height: 5.2rem;
    text-align: left;
  }
}
//END ABOUT
// ARROW
.the-arrow {
  width: 64px;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 50%;
  left: 8%;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #999;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #999;
}
.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}
.the-arrow.-right {
  top: 2px;
}
.the-arrow.-right > .shaft {
  width: 50px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #00cfd6;
  display: block;
  height: 1.5px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #00cfd6;
  content: '';
  display: block;
  height: 1.5px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrow > .shaft:before {
  transform-origin: top right;
}
.the-arrow > .shaft:after {
  transform-origin: bottom right;
}
.animated-arrow {
  display: inline-block;
  margin-top: .4em;
  color: #00cfd6;
  font-size: 1.15em;
  
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.animated-arrow:hover {
  color: white;
  font-weight: bolder;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 0;
  transition-delay: 0.1s;
  background-color: #eaeaea;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 10px;
  transition-delay: 0.1s;
  background-color: #eaeaea;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  transform: translateX(20px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}
//END OF ARROW
//CONTACT 


section.contact {
  min-height: 600px;
}

.contact-subhead {
  font-size: 1.5em;
  margin-bottom: -.3em;
  color: white;

}
.contact-subhead span {
  color: #00f7ff;
  font-weight: 600;
} 
.contact-subpara {
  color: rgba(157,157,157,1);
  margin-bottom: 1.3em;
}
.contact-info-form {
  padding: 25px 50px;
}
.contact-info {
  padding: 2px 0px;
  width: 92%;
}
.socialmedia-icons {
  margin-top: 1.5em;
}


.tm-contact-icon{
  display: inline-block;
  margin-right: 25px;
   color: rgba(157,157,157,1);
 
  }
  .tm-contact-link{
    display: list-item;
    list-style: none;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(157,157,157,1);
  }
  .fa {
    padding: 10px;
 
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fas{
       color: rgba(157,157,157,1);;
  }
  p {
      padding: 4px 2px;
  }
 i  {
margin-left: 8px;
  }

  .fa-facebook {
    color: rgba(157,157,157,1);
  }
  
  .fa-twitter {
    color: rgba(157,157,157,1);
  }
  .fa-linkedin {
    color: rgba(157,157,157,1);
  }
  .fa-instagram {
    color: rgba(157,157,157,1);
  }
  .fa-dribbble {
    color: rgba(157,157,157,1);
  }

  .fa:hover{
   
    color: white;
    transition: ease-in 500ms;
    animation: updown 1s;
    transform: scale(2);
  }
  @keyframes updown {
    from {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(0);
        transform: scale(2);
       
    }
  }

  .field{
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1.3em;
    position: relative;
  }
  .field__clear{
    position: absolute;
    right: 0;
    margin-bottom: 10px;
    display: none;
    cursor: pointer;
  }
  label, input , textarea {
    transition: all 0.2s;
    touch-action: manipulation;
    transform-origin: left bottom;
  }
  input {
  
    border: none;
    -webkit-appearance: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 90%;
  }

 textarea {
  
    border: none;
    -webkit-appearance: none;
    border-radius: 5px;
    width: 95%;
    
  }
  input:focus , textarea:focus {
    outline: 0;
   
  }
  label{
    text-transform: uppercase;
    letter-spacing: 0.05em;
    
    font-size: .6em;
  }
  
input:placeholder-shown + label,
textarea:placeholder-shown + label{
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translate(.8em, 1.8rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder{
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label,
textarea:not(:placeholder-shown) + label,
textarea:focus + label{
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  font-size: .9em;
  font-weight: 600;
  color: #00cfd6;
  transition: ease-in .2s;
}
/* Show input clear on filled input items */
input:not(:placeholder-shown) + label + .field__clear,
textarea:not(:placeholder-shown) + label + .field__clear{
  display:block;
}
/////////////////////
//END CONTACT



.box {
  height:65px;
  position:absolute;
  background:transparent;
  font-size: 30px;
  line-height:65px;
  text-align:center;
  color: #fff;
  text-transform: uppercase;
}
.boxes {
  position:relative;
}
////Mrqueee
.skills-container{
	height: 100%;
	perspective: 700px;
	position: relative;
	perspective-origin: 50% 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 400px;
}

.item{
	position: absolute;
	animation-duration: 2.5s;
	animation-fill-mode: backwards;
	animation-timing-function: ease;
	z-index: 100;
  color: whitesmoke;
	backface-visibility: hidden;
	font-size: 50px;
	white-space: nowrap;
	visibility: hidden;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	transform-style: preserve-3d;
}

.animate{
	visibility: visible;
	animation-name: animate;
}

.inner-container{
	transform: translateZ(50px);
	transform-style: preserve-3d;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes animate{
	0%{
		transform: rotateX(-90deg),translateZ(50px);
	}
	6%{transform: rotateX(10deg),translateZ(50px);}
	12%{transform: rotateX(-5deg),translateZ(50px);}
	18%{transform: rotateX(1.5deg),translateZ(50px);}
	24%{transform: rotateX(0deg),translateZ(50px);}

	
	82%{transform: rotateX(0deg),translateZ(50px);}
	88%{transform: rotateX(5deg),translateZ(50px);}
	94%{transform: rotateX(-10deg),translateZ(50px);}
	100%{
		transform: rotateX(90deg),translateZ(50px);
	}
}

.static{
  font-size: 5.2rem;
  font-weight: 900;
  text-transform: uppercase;
   color: #00cfd6;
  line-height: 5.2rem;
  text-align: left;
}

/////////////////////////PORTFOLIO///////////////////////////////////


.project-info p {
  color: white;
  margin-top: 0;
}
.project-info p {
  color: #fff;
 
}
.project-info ul {
  list-style: disc;
  list-style-position: inside;
  color: #00cfd6;
  margin-top: 0;
  li {
    font-size: bold;
  }
}
.project-info ul li {
  font-weight: 600;
}


.counter{
  color: #999;
  font-size: 4rem;
  position: relative;
  z-index: -1;
  margin: 0 auto;
  left: 2%;
  top: 9%;
  
  /* Adjust this value to move the positioned div up and down */

}
.counter span {
  font-size: 2rem;
}

.prev, .next {
  cursor: pointer;
 
  width: auto;
  padding: 4px 13px;
 
  color: white;
  font-weight: bolder;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 50%;
  border: #fff 2px solid;
  user-select: none;
}
.controls{
  display: flex; justify-content: space-between;
  margin-top: 1.8rem;
  bottom: 0;
  height: auto;
  width: 48%;
}


.next {
 float: right;
}
.prev{
  float: left;
}


.mySlides {display: none;
flex-direction: column-reverse;}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
////////////////////intro///////@at-root////\\
.card-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}

.card {
  position: relative;
  width: 80%;
  height: 100px;
//  background-color: #717171;
  border-radius: 5px;
  margin-bottom: 40px;
  transition: 0.5s;
  padding: 10px;
 }
.card h1 {
  font-size: 1rem;
  margin: 0;
  z-index: 1;
  color: #00cfd6;
}
.card h2 {
  font-size: 2rem;
  margin: 0;
 
  color: #717171;
  z-index: 2;
}
.card p {
  font-size: .8rem;
  color: white;
 
}

@media screen and (max-width: 680px) {
  .cards {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .about-heading , .portfolio-heading, .contact-heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #00cfd6;
    text-align: center;
    width: 100%;
  }


}
@media screen and (max-width: 920px) {
  
  .static{
    font-size: 4.5rem;
    font-weight: 900;
    text-transform: uppercase;
   
    color: #00cfd6;
    line-height: 3.9rem;
    text-align: center;
  }
  .intro-heading {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
  .intro-para{
    width: 100%;
    text-align: center;
  }
  .porfolio-img{
    height: 85%;
  }
  .project-heading{
    color: #00cfd6;
   font-size: 2.8rem;
   margin-bottom:0;
   text-align: center;
   
 }
 .project-details{
   text-align: center;
 }
 .project-info ul li {
  text-align: center;
 }
 .about-name{
   text-align: center;
 }
 .about-info p {
   text-align: center;
 }
 .contact-subhead {
  font-size: 1.5em;
  margin-bottom: -.3em;
  color: white;
  text-align: center;
}
.contact-subpara {
   text-align: center;
}
.tm-contact-link{
  text-align: center;
}
.socialmedia-icons {
  display: flex;
  justify-content: center;
}

.project-info {
  height: auto;
  padding-top: 2rem;
 
}
.project-info1 {
  height: 400px;
  justify-items: center;
  

}

}
///////////////////TIMELINE////////
.timeline{
  
 margin-bottom: 23em;
}
section.intro-section {
  color: white;
  height: auto;
  margin-bottom: 6rem;
 
}
.post{
  width: 90%;
  border-left: 2px solid #00cfd6;
  padding-top: 20px;
  padding-bottom: -20px;
  padding-left: 20px;
  position: relative;
  
}

.post:before {

  font-family: "Font Awesome 5 Free"; 

  content: "";
  color: #00cfd6;
  position: absolute;
  top: 30px;
  left: -13px;
  background-color: rgb(26, 26, 26);
  border: 2px solid #00cfd6;
  border-radius:50%;
  height: 18px;
  width: 18px;
}


.post-inner{
 
  padding: 5px;
  //box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
  border-radius: 4px;
 
}

 
.post-inner h1{
  font-size: 20px;
  font-weight: 600;
  color: #00f7ff;
}

.post-inner p {
  font-size: 14px;
  font-weight: 300;

}


